.php_cs.cache
vendor/
node_modules/
build/
.idea/
public/themes/
Themes/Adminlte/assets/
Modules/
public/js
.env
*/.DS_Store
public/images/
bootstrap/cache/
public/assets/media/
uploads/
storage/*