.main{padding:10px 0}
.search-form { border:1px solid #000}
.search-form input,.search-form button{border:none;background:none}
input:focus{outline:none}
.search-form input{width:300px;padding-left:10px;}

.product-detail-page .thumbnails {
    width:80px;
    float:left;
    overflow: hidden;
    margin: 1em 0;
    padding-right: 10px;
    text-align: center;
}
.thumbnails img {
    display: block;
    min-width: 100%;
    max-width: 100%;
}